Package: com.minazuki.nodock
Name: NoDock
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Remove the dock.
Depiction: https://minazukidev.github.io/html/NoDock/index.html
Maintainer: Minazuki <minazukidev@gmail.com>
Author: Minazuki <minazukidev@gmail.com>
Section: Tweaks
